/* Project 1 CSS */

/* GENERAL section */

html, body {
    height: 100%;
    font-family: Trebuchet, Georgia, 'Times New Roman', Times, serif;
    font-size: 3vw;
    text-align: center;
    background-image: url("/images/Workspace.jpg");
    background-attachment: fixed;
    background-color: rgb(75, 75, 75);
    padding-top: 30px

}

video.LeftBanner {
    position: fixed;
    left: 0;
    top: 10%;
    width: 20%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    border-right: 5px solid rgba(177, 177, 177, 1);
    box-shadow: 5px 0 5px rgba(0, 0, 0, 0.5);
}

img.LeftBanner {
    position: fixed;
    left: 0;
    top: 20%;
    width: 20%;
    height: auto;
    background-color: rgba(0, 0, 0, 0.5);
    border: 5px solid rgba(177, 177, 177, 1);
    box-shadow: 5px 0 5px rgba(0, 0, 0, 0.5);
}

.heading{
    max-width: 700px;
    color: rgb(0, 0, 0);
    background-color: rgba(79, 159, 250, 0.205);
    text-align: center;
    font-size: 4vw;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-radius: 40px;
    margin-top: 6vw;
    border: 5px solid rgba(177, 177, 177, 1);
    display: inline-block;
    margin-bottom: 10px;
    box-shadow: 5px 5px 5px;
    
    
    
}

h1.heading{
    
    border: none;
    font-size: 6vw;
    padding: 20px;
    margin: auto;
    max-width: 800px;
    
}


/* INDEX section */


/* INDEX GRID */

.card-1{            
    
    display: grid;
    align-self: flex-start;
    padding: 1em;
    border: 5px solid rgb(255, 255, 255);
    border-radius: 10px;
    background-color: rgb(205, 252, 255);
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 400px;
    max-height: fit-content;
    margin-bottom: 1em;
}

.card-image {
    max-width: 300px;
    margin: 0 auto;
    max-height: 300px;
    display: block;
    border: black;
    border-radius: 20px;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.562);
    
}

.grid-container {
    display: flex;
    flex-direction: row;
    gap: 1em;
    box-sizing: border-box;
    flex-wrap: wrap;
    justify-content: center;
    columns: 3 300px;   
    align-items: flex-start;
    margin: 0 auto;
    max-width: 700px;
    padding: 1em;
    background-color: rgba(170, 170, 170, 0.527);
    background-image: "Astronaut Image.jpg";
    border: 1px solid white;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);   
    
}

p.inner-details{
    color: black;
    background-color: rgb(255, 255, 255);
    text-align: center;
    font-size: 18px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 10px;
    line-height: 2;
    inline-size: auto;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.562);    
}

ul.inner-details{
    color: black;
    background-color: rgb(255, 255, 255);
    text-align: center;
    font-size: 18px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 10px;
    line-height: 2;
    inline-size: auto;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.562); 
    list-style-type: none;
      
}

/* PROJECT1 section */

project1.heading {
    color: black;
    background-color: rgb(182, 182, 182);
    text-align: center;
    font-size: 40px;
    padding: 10px;
    line-height: 2;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-radius: 20px;
    margin: auto;
    width: 80%;
    
}

.grasp-image {
    width: 100%;
    max-width: 400px;
    height: auto;
    border: black;
    border-radius: 20px;
    margin: auto;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.562);
    
}
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* NAVBAR */

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    box-sizing: border-box;
    background-color: #7cddeee8;
    padding: 10px 0px;
    font-size: 32px;
    font: Georgia;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 1000;
    border-bottom: 5px solid #335a61;
    overflow: auto;
    white-space: nowrap;
}

.navbar a {
    
    display: inline-block;
    color: white;
    background-color: #5ba1ad9f;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    border: 5px solid #335a61;
    margin: 0 10px;
    border-radius: 20px;
}

.navbar a:hover {
    background-color: #dd6b6b;
    color: white;
    text-decoration: underline;
    box-shadow: 5px 5px 5px;
}

.javascript_button {
    background-color: #4CAF50; /* Green */
    border: 2px solid #335a61;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 40px 2px;
    cursor: pointer;
    border-radius: 12px;
    
    
}

.javascript_button:hover {
    background-color: #45a049;
    box-shadow: 5px 5px 5px;
}